/**
 * Video example style
 * @author cxtom <cxtom2008@gmail.com>
 */

@require 'melon/css/theme/default/index.styl';
@require '../src/Video.styl';

glbal-reset()

html
    font-size: 16px

h1
    font-weight: 700
    font-size: 18px
    position: absolute
    left: 1.718rem
